<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zf.dao.SysMenuMapper" >
  <resultMap id="BaseResultMap" type="com.zf.domain.SysMenu" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_url" property="menuUrl" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="menu_order" property="menuOrder" jdbcType="INTEGER" />
    <result column="menu_icon" property="menuIcon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_url, parent_id, menu_order, menu_icon
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zf.domain.SysMenu" >
    insert into sys_menu (menu_id, menu_url, parent_id, 
      menu_order, menu_icon)
    values (#{menuId,jdbcType=INTEGER}, #{menuUrl,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{menuOrder,jdbcType=INTEGER}, #{menuIcon,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zf.domain.SysMenu" >
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuUrl != null" >
        menu_url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="menuOrder != null" >
        menu_order,
      </if>
      <if test="menuIcon != null" >
        menu_icon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuUrl != null" >
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuOrder != null" >
        #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="menuIcon != null" >
        #{menuIcon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zf.domain.SysMenu" >
    update sys_menu
    <set >
      <if test="menuUrl != null" >
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="menuOrder != null" >
        menu_order = #{menuOrder,jdbcType=INTEGER},
      </if>
      <if test="menuIcon != null" >
        menu_icon = #{menuIcon,jdbcType=VARCHAR},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zf.domain.SysMenu" >
    update sys_menu
    set menu_url = #{menuUrl,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      menu_order = #{menuOrder,jdbcType=INTEGER},
      menu_icon = #{menuIcon,jdbcType=VARCHAR}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>